@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@font-face {
  font-family: "Norse";
  src: url("/public/fonts/Norse.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Norse";
  src: url("/public/fonts/Norse-Bold.otf") format("opentype");
  font-weight: bold;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
    transform-origin: top center;
  }
  25% {
    transform: rotate(15deg);
    transform-origin: top center;
  }
  50% {
    transform: rotate(0deg);
    transform-origin: top center;
  }
  75% {
    transform: rotate(-15deg);
    transform-origin: top center;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: top center;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes grass-appear {
  0% {
    transform: translateY(100%);
    opacity: 0%;
  }
  100% {
    transform: translateY(0.25rem);
    opacity: 100%;
    /* background: #b7b7b7; */
  }
}

@keyframes natalia-sugerencia {
  0% {
    transform: translateY(-500%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 100%;
  }
}

@theme {
  --breakpoint-xxs: 25rem;
  --breakpoint-xs: 31rem;
  --font-quicksand: "Quicksand", sans-serif;
  --font-newsreader: "Newsreader", sans-serif;
  --font-googleSansCode: "Google Sans Code", sans-serif;
  --font-norse: "Norse", sans-serif;
  --animate-swing: swing 6s linear infinite;
  --animate-blink: blink 0.8s infinite;
  --animate-grass-appear: grass-appear 1.5s linear;
  --animate-sug-nat: natalia-sugerencia 2s linear;
}
